*{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    background-color: rgba(32, 31, 31, 0.475);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0px;
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}
ul{
    margin-top: -4%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: -3%;
    transition: .4s ease;
}
ul li a:hover{
    color: rgb(219, 106, 64);
}
.info{
    margin-left: 7%;
    margin-top: 150px;
}
.info h1{
    font-size:65px ;
    
}
.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}
.info span{
    color: rgb(222, 82, 32);
}
.info a{
    text-decoration: none;
    color: #fff;
    background: black;
    margin: 26px 0px;
    padding: 10px 18px;
    display: inline-block;
    border-radius: 10px;
    transition: .4s ease;
}
.info a:hover{
    background-color:  rgb(222, 82, 32);
}
.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}
.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-50%);
    bottom: 0;
    transition: left 4s ease;
}
.image:hover{
   left: 55%;
}